* {
    background-color: #5cdb95;
    color: #EDF5E1;
}

:root{
    --darkheader:#05386B;
    --text:#EDF5E1;
    --section:#379683;
}

header{
    padding: 10px;
    background:var(--darkheader);   
    width: 100%;
    color:var(--text);
   
    
}

h1#Name{
    background:var(--darkheader);
    color:var(--text);
    font-size: 52px;
}

nav{
    background-color: var(--darkheader);
    display:flex;
    flex-wrap:wrap;
    flex:0 0 200px;
    justify-content: flex-end; 
}

nav a{
    color:var(--text);
    list-style:none;
    background:var(--section);
    border: var(--text) 2px solid;
    display: flex;
    align-items: center;
    margin: 10px;
}

a{
    background:var(--section);
    width:200px;
    height:100px;
    text-align: center;
    justify-content: center;
    
}

a.links{
    flex-wrap:wrap;
    text-decoration: none;
    text-align: center;
    
    font-size: 25px;
}

Section#About{
    width:90%;
    background-color: var(--section);
}

#About p, h2{
    display:flex;
    text-align: center;
    margin:auto;
    background: var(--section);
    padding:5px;
    margin: 20px;
    border:#379683 solid 10px;
}

#Work{
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    gap: 30px 30px
    }

#Work #Horiseon{
    margin: 0 auto;
    flex: 1 1 200px;
}

#Work img{
    /* transform: scale(1.); */
}

footer section form ul li {
    background-color: var(--darkheader);
}