* {
    background-color: #5cdb95;
    color: #EDF5E1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --darkheader:#05386B;
    --text:#EDF5E1;
    --section:#379683;
}

header{
    padding: 10px;
    background:var(--darkheader);   
    width: 100%;
    color:var(--text);
}

h1#Name{
    background:var(--darkheader);
    color:var(--text);
    font-size: 52px;
}

nav{
    background-color: var(--darkheader);
    display:flex;
    flex-wrap:wrap;
    flex:1 0 auto;
    justify-content: flex-end; 
    
}

nav a{
    color:var(--text);
    list-style:none;
    background:var(--section);
    border: var(--text) 2px solid;
    display: flex;
    align-items: center;
    margin: 10px;
}

a{
    background:var(--section);
    width:200px;
    height:100px;
    text-align: center;
    justify-content: center;
    
}

a.links{
    flex-wrap:wrap;
    text-decoration: none;
    text-align: center;
    
    font-size: 25px;
}



Section#About{
    width:100%;
    background-color: var(--section);
    align-items:center;
}

#About p, h2{
    display:flex;
    text-align: center;
    margin:auto;
    background: var(--section);
    padding:5px;
    margin: 20px;
    border:#379683 solid 10px;
    align-items:center;
}

#Work{
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    gap: 30px 30px;
    }

#Horiseon{
    position:relative;
    align-items: center;
    left: 450px;
}

#Work img{
    display:flex;
    flex-wrap:wrap;
    transform:scale(.9);
}

.sitecards img{
    vertical-align: bottom;
    flex-direction: column;
}

input[type=text], select, textarea {
    width: 25%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: var(--text);
}

footer{
    width:100%;
    padding:10px;
    background-color: #05386B;
}

input[type=submit]{
    background-color: var(--section);
}

h4{
    background-color: var(--darkheader);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.container, form, label, input{
    background-color: var(--darkheader);
    text-align: center;
}



@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
      flex:1 0 auto;
    }
    nav a{
        flex:1 0 auto;
    }
  }